body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;

  color: #333;

  margin: 0;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1366px;

  margin: 0 auto;
}

/*============================================================================HEADER*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header_menu {
  margin-top: 87px;

  display: flex;
  justify-content: space-between;
}

.header__logo img {
  position: absolute;
  top: -36px;
  left: 0;
  right: 0;
  z-index: 1;
}

.header__logo {
  position: relative;
}

.nav {
  font-size: 17px;
  font-weight: 300;
}

.nav_link {
  margin: 0 25px;

  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  transition: 0.2s linear;
}

#contact {
  cursor: pointer;
}

.nav_link:hover {
  color: #333;
}

.number {
  text-decoration: none;
  text-transform: uppercase;

  font-weight: bold;
  font-size: 25px;

  color: #fff;
}

/*============================================================================GROUP*/

.GROUP {
  width: 100%;
  height: 900px;

  background: url("GROUPS/GROUP.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.intro__text {
  color: #fff;

  margin-top: 252px;
}

.btn {
  margin-top: 91px;
}

.arenda {
  padding: 20px 77px;

  border-radius: 8px;

  background-color: #2F2F2F;
  color: #fff;

  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  transition: .2s linear;
}

.arenda:first-child {
  margin-right: 27px;
}

.arenda:hover {
  color: #2F2F2F;
  background-color: #fafafa;
}

.uptext {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 18px;
}

.downtext {
  font-size: 30px;
  font-weight: 300;
}

.intro__car {
  position: absolute;
  left: 958px;
  top: 270px;
}

/*=============================================================================GROUP__2*/

.GROUP__2 {
  background: #fff;

}

.head__text {

  padding: 110px 0 15px 0;

  color: #2F2F2F;
  font-size: 25px;
  font-weight: 300;
}

.border {
  width: 75%;
  border-bottom: 2px solid #212121;
}

.ourcar {
  padding: 0 0 84px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.arenda__car {
  margin-left:40px;
}

.arenda__car:first-child {
  margin: 0;
}

.arenda__inner {
  font-size: 15px;
  font-weight: 300;

  margin: 18px 0 11px 0;
}

.price {
  font-size: 15px;
  font-weight: 500;

  margin-bottom: 24px;
}

.button {
  padding: 14px 57px;

  border-radius: 8px;

  background-color: #2F2F2F;
  color: #fff;

  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
}

/*==============================================================================GROUP__3*/
.GROUP__3 {
  background: url("GROUPS/GROUP3.png") center no-repeat;
  width: 100%;
  height: 420px;
}

.content {
  display: flex;
  justify-content: space-evenly;
}

.content__inner {
  display: flex;
  align-items: center;
}

.text__content  {
  margin-left: 48px;

  font-size: 35px;
  font-weight: 900;

  color: #fff;

  text-transform: uppercase;

}

.text__content p:first-child {
  margin: 0;
}

.car__content {
  margin-left: 0px;
}
/*==============================================================================GROUP__3*/

.GRPOUP__4 {
  position: relative;
}

.GRPOUP__111:before  {
  background: url("GROUPS/bg 3.png") center no-repeat;
  position: absolute;
  top: 0;
  content:"";
  width: 1478px;
  right: 0;
  height: 680px;
  z-index: -9;
  box-shadow:
}



.service {
  margin-top: 47px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service__inner {
  margin-right: 55px;
}

.service__inner:last-child {
  margin-right: 0;
}

.service__text {
  font-size: 20px;
  font-weight: 300;

  color: #2F2F2F;

  padding-top: 15px;
  padding-bottom: 48px;
}


/*=============================================================================GROUP5*/

.GROUP_5 {
  padding: 110px 0 0 0;
}

.head__text__two {

  font-size: 25px;
  font-weight: 300;

  text-transform: uppercase;
  text-align: right;

  position: relative;
}

.border2 {
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 1;
}

.partner {
  padding: 85px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.partner1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partner2 {
  padding: 51px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/*============================================================================GROUP__6*/

/*============================================================================GROUP__7*/
.group__7 {
  background: url("GROUPS/bg7.png") center no-repeat;
  background-size: cover;
}

.text {
  padding: 80px 50px 80px 50px;;
  border-radius: 20px;

  background-color: #fff;
  color: #2F2F2F;

  text-align: left;
}

.text_slide {
  position: relative;
  padding: 50px 230px 181px 230px;;
}

.text p {
  margin: 90px 0 0;
  color: #2F2F2F;
  font-weight: 500;
}

.slick_slide .slick-arrow.slick-prev {
  background: url('../js/btn/prev.png') 0 0 no-repeat;
}

.slick_slide .slick-arrow.slick-next {
  background: url('../js/btn/next.png') 0 0 no-repeat;
}

.prev {
  position: absolute;
  top: 180px;
  left: 80px;
  z-index: 1;
}

.next {
  position: absolute;
  top: 180px;
  right: 80px;
  z-index: 1;
}
/*============================================================================================*/
.group__8 {
  background: #fff;
  padding: 100px 0 0 0;
}

.contact {
  padding: 65px;
  background-color: #2F2F2F;
}
.form {
  margin: 0 320px;
  margin-bottom: 49px;
  padding: 30px;
  border-radius: 20px;
  background-color: #2F2F2F;
}

.form h3 {
  text-align: center;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}


.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input input {
  width: 326px;
  border: 1px solid #061e37;
  }

input {
  box-sizing: border-box;
  background-color: #fafafa;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  line-height: 32px;
  font-weight: 300;
  color: #061e37;
  border: none;
  padding: 10px 20px;;
  margin-bottom: 24px;
}

.textarea {
  box-sizing: border-box;
  background-color: #fafafa;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: normal;
  resize: none;
  width: 100%;
  height: 150px;
  padding: 19px 244px 15px 30px;
}

.contact__btn {
  display: flex;
  align-items:
}

.contact__btn div {
  margin-right: auto;
}

.contact__btn a {
  display: flex;
  justify-content: space-between;
  border: 1px solid #1de9b6;
  padding: 12px 37px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  background-color: #1de9b6;
  color: #fff;
  text-transform: uppercase;
}

.buttonchik {
  font-size: 20px;
  text-transform: uppercase;

  padding: 18px 88px 10px 88px;
  background-color: #D9D9D9;
  border-radius: 8px;
  border: none;
  margin-top: 28px;
  margin-bottom: 30px;
}
/*===============================================================================*/
.podval {
  background: #2F2F2F;
  padding: 43px 0;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.podval__logo {
  position: relative;
}

.podval__inner {
  color: #fff;

  margin: 79px 0 0;
}

.podval__inner p {
  font-size: 17px;
}

.footer__form {
  display: flex;
  flex-direction: column;
}


.podval__contact {
  display: flex;
  flex-direction: column;
  padding: 24px 31px 20px;
  background-color: #646464;
}

.podval__contact input {
  width: 318.8px;
  height: 60.02px;
  margin: 15px 0 18px 0;
}

.podval__contact h4{
  font-size: 22.71px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  text-align: center;
}

.butn__foot {
  padding: 18px 100px;
  color: #fff;

  cursor: pointer;

  border: 1px solid #2D2D2D;
  border-radius: 8px;

  font-size: 19.43px;
  font-weight: 300;

  text-transform: uppercase;
  background-color: #2D2D2D;
}

.adress h4 {
  color: #fff;

  margin: 0 0 10px 0;

  font-weight: 700;
  font-size: 20px;
}

.adress a {
  color: #fff;

  text-decoration: none;

  line-height: 35px;
  font-weight: 300;
  font-size: 17px;
}

.contacts {
position: relative;
padding:0 50px;
}

.contacts h4{
  color: #fff;

  margin: 0 0 12px 0;

  font-weight: 700;
  font-size: 20px;
}

.contacts p {
  color: #fff;

  margin: 15px 0;

  font-weight: 300;
  font-size: 17px;
}

.phone {
  position: absolute;
  left: 13px;
  top: 34px;
}

.letter {
  position: absolute;
  top: 69px;
  left: 7px;
}

.img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  position: absolute;
  top: 250px;
  left: 13px;
}

.img img {
  padding-right: 20px;
}

/*=============================================================================ADAPRIV*/

@media (max-width:1438px) {
  .container {
    width: 100%;
  }

  .header__logo img {
    position: absolute;
    top: -34px;
    right: 0;
    z-index: 1;
 }

  .header_menu {
    padding: 0 50px;
  }

  .number {
    font-size: 15px;
  }

  .nav {
    font-size: 15px;
  }

  .ourcar {
    padding: 10px 25px 50px 25px;
    display: flex;
    justify-content: space-around;
  }

  .arenda__car img {
    width: 90%
  }

  .car__content {
    margin-top: 50px;
    width: 40%;
  }

  .arenda__inner {
    font-size: 10px;
    font-weight: 300;
  }

  .content__inner {
    padding: 80px 0 0;
  }

  .service__inner img {
    width: 75%;
  }

  .service__text {
    padding-top: 33px;
  }

  .border2 {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .input {
    display: flex;
  }

  .input input {
    padding: 17px 0;
    width: 49%;
  }

  .send {
    padding: 17px 10px;
  }

  .text {
    padding: 73px 0 35px 0;
    font-size: 15px;
  }

  .textarea {
    width: 100%;
    padding: 19px 0 0 10px;
  }

  .footer__flex {
    margin-left: 10px;
  }
}


@media (max-width:1300px) {
  .container {
    width: 100%;
  }

  .header__logo img {
    position: absolute;
    top: -34px;
    right: 0;
    z-index: 1;
 }

  .header_menu {
    padding: 0 50px;
  }

  .number {
    font-size: 12px;
  }

  .nav {
    font-size: 12px;
  }

  .ourcar {
    padding: 10px 25px 50px 25px;
    display: flex;
    justify-content: space-around;
  }

  .arenda__car img {
    width: 90%
  }

  .car__content {
    display: none;
  }

  .arenda__inner {
    font-size: 9px;
    font-weight: 300;
  }

  .content__inner {
    padding: 80px 0 0;
  }

  .service__inner img {
    width: 75%;
  }

  .service__text {
    padding-top: 33px;
  }

  .border2 {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .input {
    display: flex;
  }

  .input input {
    padding: 17px 0;
    width: 49%;
  }

  .send {
    padding: 17px 10px;
  }

  .text {
    padding: 73px 0 35px 0;
    font-size: 15px;
  }

  .textarea {
    width: 100%;
  }
}


@media (max-width:1230px) {
  .container {
    width: 100%;
    max-width: 1180px;
  }

  .header__logo img {
    position: absolute;
    top: -34px;
    right: 0;
    z-index: 1;
 }

  .header_menu {
    padding: 0 50px;
  }

  .number {
    font-size: 15px;
  }

  .nav {
    font-size: 15px;
  }

  .ourcar {
    padding: 10px 25px 50px 25px;
    display: flex;
    justify-content: space-evenly;
  }

  .arenda__car img {
    width: 85%
  }

  .car__content {
    margin-top: 50px;
    width: 40%;
  }

  .arenda__inner {
    font-size: 9px;
    font-weight: 300;
  }

  .GRPOUP__111:before {
    height: 540px;
    z-index: -9;
}

  .content__inner {
    padding: 80px 0 0;
  }

  .service__inner img {
    width: 75%;
  }

  .service__text {
    padding-top: 33px;
  }

  .border2 {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .input {
    display: flex;
  }

  .input input {
    padding: 17px 0;
  }

  .send {
    padding: 17px 10px;
  }

  .text {
  padding: 60px 50px 3px 50px;
  font-size: 15px;
  }
}


@media (max-width:1050px) {
  .container {
    width: 100%;
  }

  .header__logo img {
    position: absolute;
    top: -34px;
    right: 0;
    z-index: 1;
 }

  .header_menu {
    padding: 0 50px;
  }

  .number {
    font-size: 12px;
  }

  .nav {
    font-size: 12px;
  }

  .car__content {
    margin-top: 50px;
    width: 40%;
  }

  .arenda__inner {
    font-size: 9px;
    font-weight: 300;
  }

  .content__inner {
    padding: 80px 0 0;
  }

  .service__inner img {
    width: 75%;
  }

  .service__text {
    padding-top: 33px;
  }

  .border2 {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .input {
    display: flex;
  }

  .input input {
    padding: 17px 0;
  }

  .send {
    padding: 17px 10px;
  }

  .text {
  padding: 50px 50px 3px 50px;
  font-size: 10px;
  }

  .form {
    margin: 0 100px 50px 100px;
  }
}


@media (max-width:992px) {
  .container {
    width: 100%;
  }

  .group__3 {
    width: 100%;
    height: 1610px;
    background-size: cover;
  }

  .intro__text {
    color: #fff;
    margin-top: 300px;
    padding-left: 50px;
  }

  .uptext {
    font-size: 40px;
  }

  .downtext {
    font-size: 20px;
  }


  .header__logo img {
    position: absolute;
    top: -34px;
    right: 0;
    z-index: 1;
 }

  .header_menu {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
  }

  .number {
    font-size: 15px;
  }

  .nav {
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }

  .nav_link {
    padding: 5px 0;
  }

  .nav_link:first-child {
    padding: 0;
  }

  .btn {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .arenda {
    text-align: center;
    margin: 0;
  }

  .arenda:first-child {
    margin-bottom: 5px;
    margin-right: 0;
  }

  .arenda__inner {
    font-size: 25px;
  }

  .price {
    font-size: 25px;
  }

  .arenda__car {
    margin: 0;
    width: 50%;
  }

  .ourcar {
    padding: 10px 0 50px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  .GRPOUP__4 {
    background: url("GROUPS/bg 3.png") center no-repeat;
    background-size: cover;
  }

  .content img {
    display: none;
  }

  .car__content {
    margin-top: 50px;
    margin-left: 0;
    width: 40%;
  }

  .content__inner {
    padding: 80px 0 0;
  }

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 100px;
  }

  .service__inner {
    width: 50%;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .service__text,.service__text.rec {
    padding-top: 0;
    font-size: 35px;
    font-weight: 400;
  }

  .partner {
    display: flex;
    flex-wrap: wrap;
  }

  .partner1 img,.partner2 img {
    width: 25%;
    margin-bottom: 5px;
  }

  .partner2,.partner1 {
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

  .button {
    font-size: 20px;
  }

  .border2 {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .input {
    display: flex;
  }

  .input input {
    padding: 17px 0;
  }

  .send {
    padding: 17px 10px;
  }

  .text {
  padding: 50px 50px 3px 50px;
  font-size: 15px;
  }
}

@media (max-width:890px) {
  .container {
    width: 100%;
  }

  .content {
    justify-content: center;
  }

  .car__content {
    display: none;
  }

  .text_slide {
    padding: 37px 122px 285px 135px;
  }

  .service__text {
    font-size: 27px;
  }

}

@media (max-width:782px) {
  .container {
    width: 100%;
  }

  .header__logo img {
    position: absolute;
    top: -34px;
    right: 0;
    z-index: 1;
 }

  .header_menu {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
  }

  .number {
    font-size: 15px;
  }

  .nav {
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }

  .nav_link {
    padding: 5px 0;
  }

  .nav_link:first-child {
    padding: 0;
  }

  .ourcar {
    padding: 10px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .car__content {
    margin-top: 50px;
    width: 40%;
  }

  .arenda__inner {
    font-size: 9px;
    font-weight: 300;
  }

  .content__inner {
    padding: 80px 0 0;
  }

  .service__inner img {
    width: 75%;
  }

  .service__text {
    padding-top: 33px;
  }

  .border2 {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .input {
    display: flex;
  }

  .input input {
    padding: 17px 0;
  }

  .send {
    padding: 17px 10px;
  }

  .text {
  padding: 50px 50px 3px 50px;
  font-size: 10px;
  }
}

@media (max-width:750px) {
  .container {
    width: 100%;
  }

  .header__logo img {
    position: absolute;
    top: -34px;
    right: 0;
    z-index: 1;
 }

  .header_menu {
    padding: 0 50px;
  }

  .number {
    font-size: 12px;
  }

  .nav {
    font-size: 12px;
  }

  .ourcar {
    padding: 10px 0 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .arenda__car {
    margin-bottom: 10px;
  }

  .car__content {
    margin-top: 50px;
    width: 40%;
    margin-left: 0;
  }

  .arenda__inner {
    font-size: 15px;
    font-weight: 300;
  }

  .text__content {
    font-size: 25px;
  }

  .content__inner {
    padding: 80px 0 0;
  }

  .content__inner img{
    width: 50%;
  }

  .service {
    margin: 50px 0 0;
  }

  .service__inner img {
    width: 100%;
  }

  .service__text {
    padding-top: 10px;
    font-size: 25px;
    padding-bottom: 30px;
  }


  .button {
     padding: 14px 28px;
   }

   .partner1 img,.partner2 img {
     width: 50%;
     margin-bottom: 50px;
     box-shadow: 0 10px 20px #646464;
   }

  .border2 {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .input {
    display: flex;
    flex-direction: column;
  }

  .input input {
    padding: 17px 0;
    width: 100%;
  }

  .send {
    padding: 17px 10px;
    margin: 10px 0 0;
  }

  .contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start
}

  .text {
    padding: 50px 50px 3px 50px;
    font-size: 13px;
  }

  .form {
    margin: 0;
    margin-bottom: 25px;
  }

  .textarea {
    height: 100px;
    width: 100%;
    font-size: 25x;
    padding: 10px 0 0 5px;
}

  .footer__flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 0 0 30px;
}

  .podval__contact {
    padding: 15px 35px 20px;
    width: 50%;
  }

  .podval__contact input {
    width: 300px;
    height: 60px;
    margin: 15px 0 18px 0;
}

  .adress {
    margin-top: 25px;
    margin-left: 50px;
  }

  .contacts {
    margin-top: 25px;
    position: relative;
    padding: 0 50px;
}

  .butn__foot {
    padding: 15px 15px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #2D2D2D;
    border-radius: 8px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #2D2D2D;
  }

}

@media (max-width:700px) {
  .container {
    width: 100%;
  }

  .GROUP {
    width: 100%;
    background: url(GROUPS/adap.png) center no-repeat;
    background-size: cover;
  }

  .number {
    display: none;
  }

  .content {
    justify-content: center;
  }

  .car__content {
    display: none;
  }

  .podval__contact {
    width: 65%;
  }
}

@media (max-width:560px) {
  .container {
    width: 100%;
  }

  .podval__contact {
    width: 80%;
  }

  .car__content {
    display: none;
  }

  .text_slide {
    padding: 50px;
  }

  .GROUP__3 {
    height: 300px;
  }

  .content__inner img {
    display: none;
  }

  .text__content {
    margin: 0
  }

}

@media (max-width:450px) {
  .container {
    width: 100%;
  }

  .number {
    display: none;
  }

  .group {
    width: 100%;
    background: url(GROUPS/adap.png) center no-repeat;
    background-size: cover;
  }

  .intro__text {
    padding-left: 20px;
  }

  .uptext {
    font-size: 25px;
  }

  .downtext {
    font-size: 18px;
  }

  .ourcar {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }

  .arenda {
    padding: 14px 50px;
  }

  .arenda__inner {
    font-size: 15px;
  }

  .arenda__car {
    width: 100%;
    margin-bottom: 20px;
  }

  .arenda__car:first-child {
    margin-bottom: 20px;
}

  .button {
    padding: 14px 4px;
    font-size: 15px;
  }

  .footer__flex {
    margin: 0;
  }

  .podval__contact {
    padding: 24px 40px 20px;
    width: 100%;
  }

  .textarea {
    padding: 10px 0 0;
  }

  .input input {
    padding: 10px 0;
    width: 100%;
  }
}

@media (max-width:380px) {
  .container {
    width: 100%;
  }

  .number {
    display: none;
  }

  .group {
    width: 100%;
    background: url(GROUPS/adap.png) center no-repeat;
    background-size: cover;
  }

  .intro__text {
    padding-left: 20px;
  }

  .uptext {
    font-size: 25px;
  }

  .downtext {
    font-size: 18px;
  }

  .downtext br {
    display: none;
  }

  .ourcar {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }

  .arenda {
    padding: 14px 45px;
  }

  .arenda__inner {
    font-size: 15px;
  }

  .arenda__car {
    width: 100%;
    margin-bottom: 20px;
  }

  .arenda__car:first-child {
    margin-bottom: 20px;
}

  .button {
    padding: 14px 4px;
    font-size: 15px;
  }

  .footer__flex {
    margin: 0;
  }

  .podval__contact {
    padding: 24px 40px 20px;
    width: 100%;
  }

  .textarea {
    padding: 10px 0 0;
  }

  .input input {
    padding: 10px 0;
    width: 100%;
  }
}
